<div class="profileTop">
<h3 class="profileHeader">{{name}} profile</h3>
<form action="/logout">
<input class="logoutBtn" type="submit" value="Log out">
</form>
</div>
{{>header}}
<form class="addForm" action="/addtutorial" method="POST">
  <div class="tutInputs">
  <input class="inputs" type="text" name="language_name" value="" placeholder="Add language name..">
  <input class="inputs" type="text" name="link" value="" placeholder="Add link..">
</div>
   <input class="inputButtons" id="addBtn" type="submit" name="" value="Add">
</form>

<p class="message">{{message}}</p>
