{{>header}}
<div class="outerContainer">
<form action="/signup" method="POST">
  <div class="inputsContainer">
  <input class="inputs" type="text" name="name" value="" placeholder="Type your name..">
  <input class="inputs" type="text" name="email" value="" placeholder="Type your email..">
  <input class="inputs" type="text" name="password" value="" placeholder="Type a password..">
</div>
<div class="home-login">
   <input class="inputButtons" type="submit" name="" value="Sign up">
</form>

<form action="/">
<input class="inputButtons" type="submit" name="" value="Home">
</form>
</div>
<p>{{message}}</p>
</div>
