<form action="/">
<input type="submit" name="" value="Home">
</form>

<form action="/signup" method="POST">
  <input type="text" name="name" value="" placeholder="Type your name..">
  <input type="text" name="email" value="" placeholder="Type your email..">
  <input type="text" name="password" value="" placeholder="Type a password..">
   <input type="submit" name="" value="Sign up">
</form>

<p>{{message}}</p>
